body {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  background-color: purple;
  color: #fff;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.list-item {
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
