body {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  background-color: rgb(0, 128, 75);
  color: #fff;
}

.logo {
  font-size:25px;
  font-weight: bold;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.list-item {
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}
